@model IEnumerable<CmsClassLibrary.Customer>

@{
    ViewData["Title"] = "CustIndex";
}

<h2>Customer Details</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustPhNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustEmail)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustPhNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustEmail)
                </td>

            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Dashboard">Back to List</a>
</div>
